.project_container{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: 200px 0;
    align-items: center;
}
.project_container > h1{
    padding-bottom: 15px;
}
.project_container > p{
    padding-bottom: 20px;
}
.projects_images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50vw;
}