.profile-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: fit-content;
    background-color:hsl(200, 20%, 20%);
  }
  .profile-parent {
    display: flex;
    align-items: center;
    color: aliceblue;
  }
  .profile-details-name {
    font-size: 24px;
  }
  .profile-details-role {
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
  }
  .profile-details-role h1 {
    font-size: 40px;
  }
  .primary-text {
    color: (--white);
  }
  .highlighted-text {
    color: var(--dark-orange);
  }
  .profile-role-tagline {
    font-size: 19px;
    margin: 5px 0 0 0;  
  }
  .profile-options .highlighted-btn {
    padding: 0.7rem;
    background-color: darkorange;
    color: black;
    font-size: 1rem;
    border-radius: 12px;
    cursor : pointer;  
  }
  .profile-options .highlighted-btn:hover {
    padding: 0.7rem;
    background-color: orangered;
    color: white;
    font-size: 1rem;
    border-radius: 12px;
    transform: scale(1.1);
    }
  
  .profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 0 0px 0 100px;
  }
  .profile-picture-background {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transform: scale(1);
    transition: all 1s ease-out;
  }
  .profile-picture-background:hover {
    transform: scale(1.1);
    transition: all 1s ease-out;
  }
  
  @media screen and (max-width: 1110px) {
    .profile-picture {
      margin: 0 0px 0 80px;
    }
    .profile-details-name {
      font-size: 20px;
    }
    .profile-details-role .primary-text {
      font-size: 12px;
    }
    .profile-options .btn {
      width: 120px;
      padding: 11px 0;
      z-index: 700;
    }
  }
  @media screen and (max-width: 910px) {
    .profile-picture {
      height: 320px;
      width: 320px;
      margin: 0 0 0 4px;
    }
  }
  @media screen and (max-width: 810px) {
    .profile-picture {
      margin: 0 !important;
    }
    .profile-parent {
      flex-direction: column-reverse;
      margin: 40px 0 0 0;
    }
    .profile-options {
      display: flex;
      justify-content: center;
    }
    .profile-details {
      margin: 25px 0 0;
    }
    .profile-options .highlighted-btn {
      margin: 0 !important;
    }
    .profile-options,
    .profile-details-role {
      text-align: center;
    }
  }
  @media screen and (max-width: 375px) {
    .profile-picture {
      height: 275px;
      width: 275px;
      margin-top: -90px;
    }
    .profile-details {
      width: 90%;
    }
  }
  
  