.contact_container{
    color: white;
    margin: 200px 0 100px;
    text-align: center;
}
#cnt {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.contacts{
    border: 1px solid white;
    text-align: center;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
}
.contacts > p{
    font-size: 20px;
    text-align: left;
    padding-bottom: 30px;
}
.gmailid {
    text-decoration: none;
    color: darkorange;
}
.gmailid:hover {
    text-decoration: none;
    color: darkorange;
}
.colz .colz-icon a i {
    margin: 0px 20px;
    color: white;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
  }
  .colz .colz-icon a i:hover {
    transform: scale(1.9);
    transition: all 0.2s ease-in-out;
  }
  textarea {
    resize: none;
  }
  .inp {
    border: none;
    outline: none;
    min-width: 250px;
    margin: 8px 0px;
    border-radius: 5px;
    padding: 3px 8px;
  }
  .btnn {
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: orange;
    padding: 5px 25px;
  }
