.skillcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
    flex-wrap: wrap;
  }
  .skillcontainer_text {
    color: white;
    flex: 0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
  }
  .skillcontainer_text > h2 {
    font-size: 30px;
  }
  .skillcontainer_image {
    flex: 0.4;
    text-align: center;
    margin-right: 100px;
  }
  .skillcontainer_image > img {
    width: 600px;
    border-radius: 10px;
  }
  .skills > h5 {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .skills_slider > .MuiLinearProgress-colorPrimary{
      background-color: gray;
  }
  .skills_slider1 > div > .MuiLinearProgress-barColorPrimary{
      background-color: green;
  }
  .skills_slider2 > div > .MuiLinearProgress-barColorPrimary{
      background-color: yellow;
  }
  .skills_slider3 > div > .MuiLinearProgress-barColorPrimary{
      background-color: yellow;
  }
  .skills_slider4 > div > .MuiLinearProgress-barColorPrimary{
      background-color: purple;
  }
  .skills_slider5 > div > .MuiLinearProgress-barColorPrimary{
      background-color: red;
  }
  .skills_slider6 > div > .MuiLinearProgress-barColorPrimary{
      background-color: red;
  }
  @media screen and (max-width: 810px) {
    .skillcontainer_image {
      margin-right: 0px;
    }
    .skillcontainer_image > img {
      width: 400px !important;
      margin: 20px 0px;
    }
  }
  @media screen and (max-width: 375px) {
    .skillcontainer_image {
      margin-right: 0px;
    }
    .skillcontainer_image > img {
      width: 300px !important;
      margin: 20px 0px;
    }
  }